*,
*::after,
*::before {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 80%;
}
