{% extends 'base.html.twig' %}

{% block title %}Mes projets !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="center">
    <h1>Retrouvez mes différents projets sur mon <a href="https://github.com/BilalAmiche" target="_blank">github !</a></h1>
    {% for project in projects %}
        <li><a href="{{ path("project_show", { id: project.id }) }}">{{ project.name }}</li>
    {% endfor %}
</div>


{% if app.user %}
    {% if 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('project_new') }}" class="add">Ajouter un projet</a>
    {% endif %}
{% endif %}
{% endblock %}
